.MultiChoice {
  cursor: pointer;
  font-family: 'Josefin Sans';
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color:indigo;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  border: 0px;
  color: #fff;
  font-weight: 500;
}

.MultiChoice:hover {
  background-color:coral;
}

.MultiChoiceCorrect {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color:chartreuse;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  border: 2px;
  color:limegreen;
  font-weight: 500;
}

.MultiChoiceIncorrect {
  cursor: pointer;
  width: 10rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color:crimson;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  border: 0px;
  color:maroon;
  text-decoration: line-through;
  font-weight: 500;
}