.MultiChoice {
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: .75rem;
  width: 15rem;
  padding: .77rem 0;
  border-radius: 30px;
  text-align: center;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  background-color:indigo;
  border: 1px solid white;
  color: #fff;
}

.MultiChoice:hover {
  background-color:coral;
}

.MultiChoiceCorrect {
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: .75rem;
  width: 15rem;
  padding: .77rem 0;
  border-radius: 30px;
  text-align: center;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  background-color:chartreuse;
  color:limegreen;
}

.MultiChoiceIncorrect {
  cursor: pointer;
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-size: .75rem;
  width: 15rem;
  padding: .77rem 0;
  border-radius: 30px;
  text-align: center;
  transition: background-color .25s;
  margin-bottom: 0.33rem;
  text-decoration: line-through;
  background-color:crimson;
  color:maroon;
}