@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  background-color: lavender;
}

html,
#root {
  height: 100%;
  width: inherit;
}

html {
  font-size: 20px;
}

h1 {
  padding: 0.77rem 0;
  background-color: indigo;
  text-align: center;
  font-family: 'Josefin Sans';
  font-size: 2.5rem;
  color: #fff;
}

h1 .highlight {
  color: coral;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 1.55rem;
}

p {
  font-family: 'Josefin Sans';
  font-size: 0.75rem;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50% 60% 17%;
  font-family: 'News+Cycle';
  font-weight: 600;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  p {
    font-size: 0.3rem;
  }
  .App {
    padding: 0 10% 20% 2.5%;
  }
}